body {
  background-color: #DCD6CB
}
html {
  font-family: "Neue Helvetica", Helvetica;
}

nav {
  background-color: #F4F115;
  height: 60px;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

nav ul li {
  font-weight: bold;
  font-size: large;
  text-align: center;
  padding: 12px 12px 12px 12px;
  line-height: 40px;
}

nav li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}

p {
  text-align: center;
  padding: 12px 100px 12px 100px;
}

.link-to {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  float: left;
  padding: 12px 8px 12px 8px;
  line-height: 40px;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}

.link-to-right {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  float: right;
  padding: 12px 8px 12px 8px;
  line-height: 40px;
  display: block;
  color: black;
  text-align: right;
  text-decoration: none;
}

.nav-logo{
  float: left;
  vertical-align: middle;
  height: 52px;
  margin: 4px;
}

.nav-left{
  float: left;
  vertical-align: middle;
}


.footer {
  padding: 20px 0px;
  position: absolute;
  bottom: 0;
  vertical-align: bottom;
  font-size: 12px;
  text-align: center;
  font-family: 'Neue Helvetica', Helvetica;
  background-color: #F4F115;
  height: 40px;
  width: 100%;
}


.button {
  border-radius: 6px;
  border-style: solid;
  border-width: 3px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #F4F115;
  border-color: black;
  color: #262626;
  padding: 2px 12px;
  cursor: pointer;
}

.square {
  width:80px;
  height:80px;
}

.spanFormat
{
  text-align: center;
  display: table-cell;
  min-width: 10px;
  padding-right: 5px;
}

.button2 {
background: #F4F115;

}
