<!DOCTYPE html>

{% load static %}

<head>
  <title> ML-TTT </title>
</head>
<link rel = 'stylesheet' type = 'text/css' href = '{% static "ttt/style.css" %}' />

<nav>
  <ul>
    <a href = 'https://github.com/simontanner/machine-learning' >

      <img src="{% static 'ttt/images/qBR0s9O.jpg' %}" title="github" class = 'nav-logo'/>
    </a>
    <center>
      <li>
        Welcome to TicTacToe Man vs. Machine!
      </li>
    </center>
  </ul>
</nav>
<body>

  <center>
    <p>
    ML-TTT started out life during week 9 of the Maker's Academy coding bootcamp as an attempt
     to learn about the field of machine learning and try and apply this to a game which would
     learn how to play over time. Whilst this turned out to be too much of a challenge to finish
     in the space of a week I did come up with an idea of how to create a "machine player", which
     could learn the rules and hopefully over time be able to win against the users.
     After reading about different approaches such as deep reinforcement learning and how ML is based
      upon how brains function, I started to build a picture of how to write the code which would look at the
      possible set of options or states at any point in a game and make a choice based upon which gave the best
      chance of leading to a win.
      What I realised once I'd first created the required data structure to store the information for all the possible
      paths a game could take was just how complex a problem it is even just to learn how to play a game with only 9
      possible options to begin with.
   </p>
   <br/>
    <form name="playGame" action='/playgame/'>
      <br>
        Play ML TTT!
      </br>
      <input type="submit" value="New Game" class='button'></input>
    </form>
  </center>
</body>

  <footer>
    <div class = 'footer'>
      Copyright 2017 by Sandy Cochrane, Cristina Iannone, Sophie Mann, Paula Muldoon, Simon Tanner<br/>
      Makers Academy Remote April 2017 Cohort
    </div>
  </footer>
