<!DOCTYPE html>

{% load static %}

<head>
  <title> ML-TTT </title>
</head>

<link rel = 'stylesheet' type = 'text/css' href = '{% static "ttt/style.css" %}' />

<nav>
  <ul>
    <li>
      <center>
        Play the Machine
      </center>
    </li>
  </ul>
</nav>

<body>
  <center>
    <form id="submitName" action='/newgame/' method='POST'>
      <br>
      Please enter your name:
      </br>
      <input placeholder="Your Name" name="player_name"/>
      {% csrf_token %}
      <input type="submit" value="Enter" class="button"/>
    </form>
  </center>
</body>
